body {
    background-color: silver;
	margin: auto;
	width: 1500px;
	height: 1000px;
}

img{
	width: 50%;
	height: 50%;
}
#left-Block{
	text-align: left;
	width: 520px;
	padding-left: 5px;
	padding-left: 5px;
}

#right-Block{
	margin: auto;
	margin-top: 170px;
	width: 500px;
}
#midle-Block{
	margin: auto;
	text-align: center;
}

#wines_list{
	margin: auto;
	width: 400px;
	font-size: 20px;
	border-radius: 10px;
}
li:hover{
	background-color : #722F58;
	color: white;
}
.container{
	display: flex;
	justify-content: space-between;
	align-content: space-between;
    width: 1400px;
    height: 900px;
	margin: auto;
    border-radius: 30px;
    background-color: white;
	opacity: 0.9;
	box-shadow: 1px 3px 4px red;
}